.THIS .slds-tabs--scoped__item {
    width: 100% !important;
    text-align: center!important;
    
}

.THIS ul {
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    
}