.THIS .text {
    color:#2574a9;
    font-size: 24px;
}
.THIS .text1 {
    color:black;
    font-size: 16px;
     font-weight: 900;
}/*
.THIS .btn{
    color:#2574a9;
}
.THIS .btn1{
    background-color:#2574a9;
}*/

.THIS .text3{
    font-size: 10px;
    font-weight: 900;
}