.THIS.chatBttonStyles {
    /*height: 150px; 
    width: 150px;
    border-radius: 100%;
    background-color: #f68b1f;*/
    position: fixed;
    bottom: 5px; 
    right: 5px;
}
.THIS.Link {
    position: fixed;
    bottom: 5px; 
    left: 5px;
}
.THIS.helpButtonStyles {
    position: fixed;
    bottom: 5px; 
    left: 5px;
    
}